# entorno virtual
.venv/
venv/
env/

# python
__pycache__/
*.pyc

# variables de entorno
.env
.env.production 

# archivos del sistema
.DS_Store

# frontend
node_modules/
dist/
build/


out/

# Electron
frontend/build_electron/
frontend/out/
frontend/make/

# Python
*.spec

*.exe
*.zip
*.nupkg